
{% block content %}
{% for message in get_flashed_messages() %}
	
	<div class="alert alert-warning alert-dismissible fade show" role="alert">
	  {{ message }}
	  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
	</div>

	
{% endfor %}

<form method="POST">
    {{ form.hidden_tag() }}
    {{ form.FileNameShouldEndWith.label(class="form-label") }}
    {{ form.FileNameShouldEndWith(class="form-control") }}
    <br/>
    {{ form.submit(class="btn btn-secondary") }}
</form>
{%endblock%}